$navbarSize: 7%;
$navbar: black;
$navbarSec: white;
$one: #478978;
$two: #8B95C9;
$three: #ACD7EC;
$four:#D6EDFF;
$five:#84DCC6;
$six:#141B41;
$seven: #98B9F2;

$oneL: #9bcbbf;
$twoL: #c5cae3;
$threeL: #d5ebf5;
$fourL:#eaf6ff;
$fiveL:#c1ede2;
$sixL:#5c6ecd;
$sevenL: #cbdcf8;

$oneS:#2F4F4F;
$twoS: #B0E0E6;
$threeS:#87CEEB;
$fourS:#36648B;
$fiveS: #09406f;

$oneSL:#86b7b7;
$twoSL:#d7eff2;
$threeSL:#c3e6f4;
$fourSL:#8cb2d2;
$fiveSL:#4aa3f0;