*{
 box-sizing: border-box;
}
//1.THE NAVIGATION BAR
//A.laptop
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: black;
  color: $two;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display:flex;
  justify-content: space-around;
  height:$navbarSize;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: white;
  color: black;
}

/* Main content */
.main {

  width:100vw;
  height:100vh;
}
//B.MOBILEPHONE

//2.BLOCKSDISPLAY ON THE HOME PAGE
.displayNone{
  display:none;
}
.gridContainer{
  width:100vw;
  height: 100vh;
  display:grid;
  grid-template-columns:(repeat(3,1fr));
  grid-gap:0px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column:3;
  grid-row:1;
  background-color: $one;
  z-index:5;
}
.two { 
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background-color: $two;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
  background-color: $three;
}
.four {
  grid-column: 3;
  grid-row: 4;
  background-color: $four;
}
.five {
  grid-column: 2;
  grid-row: 4;
  background-color: $five;
}
.six {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color:$six;
}
.seven {
  grid-column: 1/4;
  grid-row:5;
  background-color:$seven;
}
.gridEl{
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  padding: 10px;
}
.gridElM{
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 5px;
}
.centerR{
  justify-content:center;
}
.spaceA{
  justify-content:space-around;
}
a{
  text-decoration: none;
  color: inherit;
}
//Hover color change
.one:hover{
 background-color: $oneL;
}
.two:hover{
  background-color:$twoL;
}
.three:hover{
  background-color:$threeL;
}
.four:hover{
  background-color:$fourL;
}
.five:hover{
  background-color:$fiveL;
}
.six:hover{
  background-color:$sixL;
}
.seven:hover{
  background-color:$sevenL;
}
//SKILLS

#skills{
  display:none;
  background-color: $fiveL;
  height: 100vh;
  width: 100vw;
}
